{% extends "base.html" %}

{% block content %}

    <h1>{{ film[1] }}</h1>

    <div>
        <p>durée : {{ film[2] }}</p><br>
        <p>annee sortie : {{ film[3] }}</p><br>
        <p>synopsis : {{ film[4] }}</p><br>
        <p>genre : {{ film[5] }}</p><br>
    </div>

    <h2>Commentaires</h2>

    <div>
        <div>formulaire comm</div>

        <form action="/commentaires/send/{{film[0]}}" method="post">
        
            <div>
                <label for="pseudo"> Votre pseudo : </label> 
                <input type="text" name="pseudo"> <br><br>
            </div>

            <div>
                <label for="texte"> Ecrire Commentaire : </label> 
                <textarea type="text" name="texte"></textarea> <br><br>
            </div>
        
            <div>
                <label for="commentaire"> </label> 
                <button type="submit"> Envoyer com</button><br><br>
            </div>
    
        </form>


        <div>affichage com</div>

        {% if c %}
        <table>
            {% for commentaires in c %}
                <tr>
                    <td>{{ commentaires.texte }}</td>
                    <td>{{ commentaires.pseudo }}</td>
                    <td>{{ commentaires.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>aucun commentaire n'a été rentré</p>
        {% endif %}


    </div>

    

{% endblock %}
