{% extends "base.html" %}

{% block content %}

    {% if film[7]==session['idUser'] %}
        <td><a href="/delete/{{film[1]}}+{{film[3]}}"><button>Supprimer</button></a></td>
        <td><a href="/update/{{film[1]}}+{{film[3]}}"><button>Modifier</button></a></td>
    {% endif %}

    <h1>{{ film[1] }}</h1>

    <div>
        <p>durée : {{ film[2] }}</p><br>
        <p>annee sortie : {{ film[3] }}</p><br>
        <p>synopsis : {{ film[4] }}</p><br>
        <p>genre : {{ film[5] }}</p><br>
    </div>

    <h2>Commentaires</h2>

    <div>
        <!-- <div>formulaire comm</div> -->

        {% if session['username'] %}

            <form action="/commentaires/send/{{film[0]}}+{{session['pseudo']}}" method="post">
            
                <div>
                    <label for="texte"> Ecrire Commentaire : </label> 
                    <textarea type="text" name="texte"></textarea> <br><br>
                </div>
            
                <div>
                    <label for="commentaire"> </label> 
                    <button type="submit"> Envoyer com</button><br><br>
                </div>
        
            </form>

        {% else %}
            <h1>Pas de session en cours, <a href="/connexion">connectez-vous pour poster un commentaire !</a></h1>
        {% endif %}


        <!-- <div>affichage com</div> -->

        {% if c %}
        <table>
            {% for commentaires in c %}
                <tr>
                    <td>{{ commentaires.texte }}</td>
                    <td>{{ commentaires.pseudo }}</td>
                    <td>{{ commentaires.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>aucun commentaire n'a été rentré</p>
        {% endif %}


    </div>

    

{% endblock %}
