{% extends "base.html" %}

{% block content %}
    <form action="/film/send" method="post"> 

        <div>
            <label for="nom"> Nom : </label> 
            <input type="text" name="nom"> <br><br>
        </div>

        <div>
            <!-- <script></script>

            <select year="year">
            
            for(int i=1900; i<2023; i++){
                <option value="i">i</option>
            }

            </select> -->

            <label for="année"> Année de sortie : </label> 
            <input type="number" name="année" min="1900" max="2023"> <br><br>
        </div>

        <div>
            <label for="synopsis"> Synopsis : </label> 
            <input type="text" name="synopsis"><br><br>
        </div>

        <div>
            <label for="duree"> Durée (min) : </label> 
            <input type="text" name="duree"><br><br>
        </div>

        <div>
            <label for="genre"> Genre : </label> 
            <input type="text" name="genre"><br><br>
        </div>

        <div>
            <label for="nationalite"> Nationalite : </label> 
            <input type="text" name="nationalite"><br><br>
        </div>

        <div>
            <label for="film"> </label> 
            <button type="submit"> AJOUTER</button><br><br>
        </div>

    </form>
{% endblock %}

    