{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}

    <form action="/inscription/send" method="post">

        <div>
            <label for="prénom"> Prénom : </label> 
            <input type="text" name="prénom"> <br><br>
        </div>
    
        <div>
            <label for="nom"> Nom : </label> 
            <input type="text" name="nom"> <br><br>
        </div>
    
        <div>
            <label for="username"> Username : </label> 
            <input type="text" name="username"> <br><br>
        </div>
    
        <div>
            <label for="email"> Email : </label> 
            <input type="text" name="email"> <br><br>
        </div>
    
        <div>
            <label for="password"> Password : </label> 
            <input type="password" name="password"> <br><br>
        </div>
    
        <div>
            <label for="compte"> </label> 
            <button type="submit"> VALIDER</button><br><br>
        </div>

    </form>

    <div>
        <label for="inscription"> Vous avez déjà un compte ? </label> 
        <a href="formulaire_user_connect.html"><button> CONNEXION</button></a>
    </div>
{% endblock %}

    