<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>

    <form action="/connexion/send" method="post">
    
        <div>
            <label for="username"> Username : </label> 
            <input type="text" name="username"> <br><br>
        </div>

        <div>
            <label for="password"> Password : </label> 
            <input type="password" name="password"> <br><br>
        </div>

        <div>
            <label for="compte"> </label> 
            <button type="submit"> VALIDER</button><br><br>
        </div>

    </form>

    <div>
        <label for="inscription"> Vous avez déjà un compte ? </label> 
        <a href="formulaire_insc.html"><button> INSCRIPTION</button></a>
    </div>

</body>
</html> 