{% extends "base.html" %}

{% block content %}
    {% if session['username'] %}
        <a href="/saisie_film">Saisir un film</a>
    {% endif %}

    {% if f %}

    <table>

        <tr>

            <td name="entete"><h1>Nom</h1></td>
            <td name="entete"><h1>Annee de sortie</h1></td>
            <td name="entete"><h1>Synopsis</h1></td>
            <td name="entete"><h1>Duree</h1></td>
            <td name="entete"><h1>Genre</h1></td>

        </tr>

        {% for film in f%}

        <tr>

            <td><a href="/films/{{film.idFilm}}">{{film.titre}}</a></td>
            <td>{{film.annee}}</td>
            <td>{{film.synopsis}}</td>
            <td>{{film.duree}}</td>
            <td>{{film.genre}}</td>

            <!-- {% if film.creator==session['idUser'] %}
                <td><a href="delete/{{film.titre}}+{{film.annee}}"><button>Supprimer</button></a></td>
                <td><a href="update/{{film.titre}}+{{film.annee}}"><button>Modifier</button></a></td>
            {% endif %} -->

        </tr>

        {% endfor %}

    </table>

    {% else %}

        <h1>Aucun film pour le moment - ajoutez votre premier film ! </h1>

    {%endif%}
{% endblock %}